.idea
*.pyc
/lib/libsvm-3.18
/lib/word2vec-read-only
/pynlpini/*.sh
/pynlpini/lib/libsvm.so.2
/pynlpini/ner/useless
/pynlpini/sentiment/useless
/pynlpini/seg/useless
/pynlpini/word2vec/useless
/build
/data
/tmp
/test/model
/test/tmp
