#!/bin/bash -e

BASE=$(cd "$(dirname "$0")/../../../";pwd)

/usr/bin/python $BASE/pynlpini/seg/seg_file.py \
$BASE/data/app/travel_comments/mafengwo_comments.txt \
$BASE/pynlpini/model/seg.crf.model \
$BASE/tmp/word2vec.travel_comments_seg.txt


$BASE/lib/word2vec/word2phrase \
-train $BASE/tmp/word2vec.travel_comments_seg.txt \
-output $BASE/tmp/word2vec.travel_comments_seg_phrase0.txt \
-threshold 200 \
-debug 2

/bin/cat $BASE/tmp/word2vec.travel_comments_seg_phrase0.txt | /usr/bin/tr -d "_" > $BASE/tmp/word2vec.travel_comments_seg_phrase0_tr.txt

$BASE/lib/word2vec/word2phrase \
-train $BASE/tmp/word2vec.travel_comments_seg_phrase0_tr.txt \
-output $BASE/tmp/word2vec.travel_comments_seg_phrase1.txt \
-threshold 100 \
-debug 2

/bin/cat $BASE/tmp/word2vec.travel_comments_seg_phrase1.txt | /usr/bin/tr -d "_" > $BASE/tmp/word2vec.travel_comments_seg_phrase1_tr.txt

$BASE/lib/word2vec/word2vec \
-train $BASE/tmp/word2vec.travel_comments_seg_phrase1_tr.txt \
-output $BASE/pynlpini/model/app/travel_comments_phrase.word2vec.model \
-cbow 1 -size 200 -window 5 -negative 25 -hs 0 -sample 1e-5 -threads 1 -binary 1 -iter 20 \


